h1 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0;
}
ul {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
footer {
  font-size: 14px;
}
.card {
  max-width: 600px;
}
.units {
  position: relative;
  top: 12px;
}
#temperature {
  font-size: 48px;
  font-weight: 400;
  line-height: 80px;
}
#description::first-letter {
  text-transform: capitalize;
}
#icon {
  width: 80px;
  height: 80px;
  object-fit: none;
  margin: 0 5px 0 5px;
}
.forecast {
  text-align: center;
  margin-top: 20px;
}
.temperature-max {
  opacity: 0.8;
}
.temperature-min {
  opacity: 0.6;
}
